DynamicsObjects.sln.docstates.suo
DynamicsObjects.sln.docstates.suo
DynamicsObjects.suo
bin/Release/CsvTest.txt
bin/Release/nunit.framework.dll
bin/Release/OS.Toolbox.DynamicObjects.dll
bin/Release/OS.Toolbox.DynamicObjects.pdb
bin/Release/OS.Toolbox.DynamicObjectsUnitTest.dll
bin/Release/OS.Toolbox.DynamicObjectsUnitTest.dll.config
bin/Release/OS.Toolbox.DynamicObjectsUnitTest.dll.VisualState.xml
bin/Release/OS.Toolbox.DynamicObjectsUnitTest.pdb
bin/Release/TestResult.xml
DynamicsObjects/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
DynamicsObjects/obj/x86/Release/DinamicObjects.csproj.FileListAbsolute.txt
DynamicsObjects/obj/x86/Release/DynamicObjects.csproj.FileListAbsolute.txt
DynamicsObjects/obj/x86/Release/OS.Toolbox.DinamicObjects.dll
DynamicsObjects/obj/x86/Release/OS.Toolbox.DinamicObjects.pdb
DynamicsObjects/obj/x86/Release/OS.Toolbox.DynamicObjects.dll
DynamicsObjects/obj/x86/Release/OS.Toolbox.DynamicObjects.pdb
TestConsole/bin/Release/
TestConsole/obj/x86/
UnitTest/obj/x86/
